<mat-toolbar class="news-toolbar">
    <mat-toolbar-row>

        <button mat-icon-button *ngIf="isAdmin" (click)="toggle();">
            <ng-container *ngIf="sideNavToggled$ | async; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
                <mat-icon>clear</mat-icon>
            </ng-template>
            <ng-template #elseTemplate>
                <mat-icon>menu</mat-icon>
            </ng-template>
        </button>

        <div class="news-logo">
            <img src="assets/img/logo_rect.png">
        </div>
        <span class="news-menu-spacer"></span>
        
        <button mat-stroked-button [routerLink]="['/auth']">
            <mat-icon class="mr-2">exit_to_app</mat-icon>
            <span>Aanmelden</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="news-toolbar-border"></div>