<mat-sidenav-container (backdropClick)="onBackdropClick()" 
                       class="example-sidenav-container">

  <mat-sidenav id="sideNav" [opened]="sideNavToggled$ | async" class="sidebar"
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" >

    <ng-scrollbar visibility="hover">

      <div class="news-nav-profile">
          <span class="news-profile-text">
            Admin panel
          </span>
      </div>
    
      <mat-nav-list *ngFor="let menuItem of menuItems">
        <div *ngIf="menuItem.category" class="news-category">{{menuItem.category}}</div>
        <a mat-list-item [routerLink]="[menuItem.path]" 
          class="news-navItem {{menuItem.class}}" routerLinkActive="news-nav-active">
          <mat-icon>{{menuItem.icon}}</mat-icon>
          <span>{{menuItem.title}}</span>
        </a>
      </mat-nav-list>
    </ng-scrollbar>
  </mat-sidenav>

  <mat-sidenav-content class="news-main-panel">
    <news-core-toolbar-shell></news-core-toolbar-shell>
    <div class="news-content">
        <router-outlet></router-outlet>
    </div>
    <news-core-footer></news-core-footer>
  </mat-sidenav-content>

</mat-sidenav-container>