<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h2 *ngIf="isNew">Nieuw artikel</h2>
        <h2 *ngIf="!isNew">{{article.title}} Bewerken</h2>
    </mat-toolbar-row>
</mat-toolbar>
<form class="m-4" [formGroup]="generalForm" (ngSubmit)="onSubmit(generalForm.value)">
    <div class="row">
        <mat-form-field appearance="outline" class="col-6 my-2 w-100">
          <mat-label>Categorie</mat-label>
          <mat-select formControlName="tagID" >
              <mat-option *ngFor="let tag of tags" [value]="tag.tagID">{{tag.name}}</mat-option>
          </mat-select>
          <mat-icon matPrefix>local_offer</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-6 my-2 w-100">
          <mat-label>Status</mat-label>
          <mat-select formControlName="articleStatusID" >
              <mat-option *ngFor="let articleStatus of articleStatuses" [value]="articleStatus.articleStatusID">{{articleStatus.name}}</mat-option>
          </mat-select>
          <mat-icon matPrefix>description</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12 mb-2 w-100">
            <mat-label>Titel</mat-label>

            <input #title matInput formControlName="title" maxlength="100" type="text">

            <mat-hint align="end">{{title.value.length}} / 100</mat-hint>

            <mat-error *ngIf="generalForm.controls['title'].invalid">
                Titel is vereist
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12 my-2 w-100">
            <mat-label>Ondertitel</mat-label>

            <textarea #subTitle matInput formControlName="subTitle" maxlength="250" type="text"
                        cdkAutosizeMinRows="2"
                        cdkTextareaAutosize
            ></textarea>

            <mat-hint align="end">{{subTitle.value.length}} / 250</mat-hint>

            <mat-error *ngIf="generalForm.controls['subTitle'].invalid">
                Ondertitel is vereist
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12 my-2 w-100">
            <mat-label>Korte samenvatting</mat-label>

            <textarea #shortSummary matInput formControlName="shortSummary" maxlength="500" type="text"
                        cdkAutosizeMinRows="5"
                        cdkTextareaAutosize
            ></textarea>

            <mat-hint align="end">{{shortSummary.value.length}} / 500</mat-hint>

            <mat-error *ngIf="generalForm.controls['shortSummary'].invalid">
                Korte samenvatting is vereist
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12 my-2 w-100">
            <mat-label>Inhoud</mat-label>

            <textarea #body matInput formControlName="body" type="text"
                        cdkAutosizeMinRows="30"
                        cdkTextareaAutosize
            ></textarea>

            <mat-hint align="end">{{body.value.length}} chars</mat-hint>

            <mat-error *ngIf="generalForm.controls['body'].invalid">
                Inhoud is vereist
            </mat-error>
        </mat-form-field>
    </div>
    <div class="py-4">
        <button type="button" class="col-6" mat-button [routerLink]="['/app/drafts']" >
            Annuleren
            </button>
        <button mat-raised-button class="col-6" type="submit" color="primary"
            [disabled]="!generalForm.dirty || generalForm.invalid">
            <mat-icon class="mr-2">article</mat-icon>
            <span>Bevestig</span>
        </button>
    </div>
</form>