@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';

@import './assets/scss/material-theme';

@import './assets/scss/variables';

@import './assets/scss/sidenav';
@import './assets/scss/login';
@import './assets/scss/footer';
@import './assets/scss/toolbar';

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
	line-height: 1;
	background-color: $background-color;
}

button {
    outline: none !important;
}
